body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#map {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.mapboxgl-marker {
  /*background-image: url('../images/point.png');*/
  background-size: cover;
  background-color: #0060FF;
  width: 5px;
  height: 5px; 
  border-radius: 100%;
}

.title {
  position: absolute;
  top: 0;
  margin-left: 2em;
}

footer {
  position: absolute;
  bottom: 0;
  margin-left: 3em;
}